section.section {
  background-color: $black;
  height: 100vh;
  align-items: center;
  display: flex;

  @media screen and (max-height: 750px ) {
    padding: 550px 0;
  }

  .play-btn {
    border: 0;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    color: $white;
    box-shadow: 7px 9px 16px rgba(33, 37, 41, 0.5);
    -webkit-animation: animate 4s ease-in-out infinite;
    -moz-animation: animate 4s ease-in-out infinite;
    -o-animation: animate 4s ease-in-out infinite;
    animation: animate 4s ease-in-out infinite;
    background: linear-gradient(270deg, #206794, #13cccc);
    position: relative;
  
    @include desktop {
      width: 80px;
      height: 80px;
      font-size: 35px;
    }
  
    &:hover,
    &.active {
      background: linear-gradient(270deg, #209480, #11f089);
    }
  }
}


// Animation Start
button.play-btn:nth-child(n+2) {
  -webkit-animation: animate 4s ease-in-out infinite;
  -moz-animation: animate 4s ease-in-out infinite;
  -o-animation: animate 4s ease-in-out infinite;
  animation: animate 4s ease-in-out infinite;
}

button.play-btn:nth-child(3n+3) {
  -webkit-animation: animate 6s ease-in-out infinite;
  -moz-animation: animate 6s ease-in-out infinite;
  -o-animation: animate 6s ease-in-out infinite;
  animation: animate 6s ease-in-out infinite;
}

button.play-btn:nth-child(3n+2) {
  -webkit-animation: animate 8s ease-in-out infinite;
  -moz-animation: animate 8s ease-in-out infinite;
  -o-animation: animate 8s ease-in-out infinite;
  animation: animate 8s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-10px) rotate(0);
  }
}

// Animation End
